body {
}

.todolist-container {
  max-width: 600px;
  height: auto;
  background: blue;
}

.todolist-container__create-task {
  width: 100%;
  height: 100px;
  /*background: #00bcd4;*/
  background-image: url("https://cdn3.vectorstock.com/i/1000x1000/75/82/seamless-cartoon-nature-landscape-with-2d-game-vector-9827582.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

#create-task__form-input {
  display: flex;
}

#create-task__task-input {
}

#create-task__button-submit-input {
}

#date {
  color: white;
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-family: monospace;
  font-size: 1.1em;
}

.todolist-container__display-task {
  width: 100%;
  min-height: 300px;
  background: #2a9d8f;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-template {
  width: 90%;
  min-height: 70px;
  background: #e9c46a;
  margin: 5px;
  border-radius: 0.3em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s;
}

.todo-template:hover {
  width: 95%;
  background: #e8ba46;
}

.todo-template__text {
  background: white;
  border-radius: 0.3em;
  padding: 10px;
}

.todo-template__edit {
}

#button-todo-template__edit {
}

.todo-template_delete {
}

#button-todo-template__delete {
}

.todolist-container__edit-task {
  width: 100%;
  height: 100px;
  background: #264653;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#edit-task__form-edit {
  display: flex;
}

#edit-task__task-edit {
}

#edit-task__button-submit-edit {
}
